<section class="phx-hero">
  <h1 style="font-weight:bold; color:#d79bb9;"><%= gettext "Welcome to %{name}!", name: "an Elixir forum made with Phoenix" %></h1>
  <h3 style="color:#8ab2d5;">Go to the <span style="font-size:25px;" class="logoTitle"><%= link "forum", to: "/posts" %></span> page</h3>
</section>

